* {
  margin: auto;
}

body {
  background-color: #515151;
  color: #FFF;
}

.main {
  margin-top: 40px;
}

.row {
  margin-top: 20px;
}

#number {
  width: 190px;
}

.colRight {
  margin-left: 20px !important;
}
